<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
</head>
<body class="bg-gold">
<main class="cf pa3 pa4-m pa5-l mw9 center sans-serif">
    {% block body %}{% endblock %}
</main>
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>

{% endblock %}
</body>
</html>
